/* Global Selectors  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: none;
}

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.container__active {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  background-color: white;
  min-width: 360px;
  margin: auto;
}

body .body__active {
  overflow: hidden;
}

img {
  display: block;
  height: auto;
  min-width: 100%;
}

ul {
  list-style-type: none;
  font-size: 0;
}

ul > li {
  display: inline-block;
}

li > a {
  display: block;
  font-size: 1rem;
  padding: 0 1rem;
  line-height: 2;
  color: white;
}

li > a:hover {
  color: pink;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header exclusive Selectors */
header {
  position: fixed;
  width: 100%;
  z-index: 10;
  opacity: 0.9;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 66px;
}

header .top__light {
  background-color: white;
}

header .top__dark {
  background-color: #333;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .top--logo {
  font-size: 2rem;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  border-right: 1px solid;
  background-color: #ddd;
  line-height: 66px;
}

header .top--search {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: silver;
  line-height: 66px;
}

header .top--search input {
  font-size: 1.1rem;
  width: 400px;
  border: 2px solid gray;
  border-right: 1px solid gray;
  padding: 0.5rem;
  background-color: #f2f2f2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: justify;
  margin-right: -3px;
}

header .top--search button {
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 2px solid gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -3px;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  cursor: pointer;
}

header .top--search button:hover {
  background-color: #bbb;
}

header .top--login {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  background-color: #ddd;
  border-left: 1px solid;
  line-height: 66px;
}

header .top--login a {
  display: inline-block;
}

header .top--login a {
  padding: 0 1rem;
  font-weight: bold;
}

header .top--login a:last-child {
  padding: 0;
}

header .top--login a:hover {
  text-decoration: underline;
}

header .top--menu {
  text-transform: uppercase;
}

/* Main content exclusive Selectors */
main .content--showcase {
  background-image: url("../images/test2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* Sidebar exclusive Selectors */
.sidebar {
  position: fixed;
  top: 66px;
  left: -300px;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  width: 300px;
  background-color: #333;
  overflow: auto;
  -webkit-transition: left 250ms ease-in-out;
  transition: left 250ms ease-in-out;
}

.sidebar__open {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  width: 300px;
  background-color: #333;
  -webkit-transition: left 250ms ease;
  transition: left 250ms ease;
}

.sidebar li {
  display: block;
}

.sidebar--head {
  background-color: #222;
  text-align: center;
}

.sidebar--head span {
  margin: auto;
  font-size: 2rem;
  color: white;
}

.sidebar--body {
  text-align: center;
}

.sidebar--body--title {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
}

footer {
  height: 200px;
  background-color: black;
  text-align: right;
}

footer p {
  font-size: 1.25rem;
  color: white;
  text-align: center;
}

.test {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
  background-color: #222;
  -webkit-transition: right 0.25s ease;
  transition: right 0.25s ease;
  width: 100px;
}

.test a {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 4px;
  color: white;
  text-align: center;
}
