/* Global Selectors */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  backface-visibility: hidden;
}

* > .container {
  overflow: hidden;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  background-color: white;
  min-width: 360px;
  margin: auto;
}

img {
  display: block;
  height: auto;
  min-width: 100%;
}

ul {
  list-style-type: none;
  font-size: 0;
}

ul > li {
  display: inline-block;
}

li > a {
  display: block;
  font-size: 1rem;
  padding: 0 1rem;
  line-height: 2;
  color: white;
}

li > a:hover {
  color: pink;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header exclusive Selectors */
header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.top__light {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.top__dark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.top--logo {
  font-size: 2rem;
}

.top--search {
}

.top--login {
}

.top--login a {
  padding: 0 1rem;
  font-weight: bold;
}

.top--login a:last-child {
  padding: 0;
}

.top--login a:hover {
  text-decoration: underline;
}

.top--menu {
  text-transform: uppercase;
}

/* Main content exclusive Selectors */
.content--showcase {
  background-image: url('../images/test.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* Sidebar exclusive Selectors */
.sidebar {
  position: fixed;
  left: -300px;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  width: 300px;
  background-color: #333;
  transition: left 250ms ease-in-out;
}

.sidebar__isOpen {
  position: fixed;
  left: 0px;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  width: 300px;
  background-color: #333;
  transition: left 250ms ease-in-out;
}

.sidebar--title {
  display: flex;
  height: 68px;
  background-color: #222;
}

.sidebar--title p {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  color: white;
}

footer {
  height: 300px;
  width: 100vw;
  background-color: black;
  text-align: right;
}

footer p{
  font-size: 5rem;
  color: white;
  text-align: center;
}
