/* Global Selectors */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  transition: all 200ms ease;
}

.container__active {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  background-color: white;
  min-width: 360px;
  margin: auto;
}

.body__active {
  overflow: hidden;
}

img {
  display: block;
  height: auto;
  min-width: 100%;
}

ul {
  list-style-type: none;
  font-size: 0;
}

ul > li {
  display: inline-block;
}

li > a {
  display: block;
  font-size: 1rem;
  padding: 0 1rem;
  line-height: 2;
  color: white;
}

li > a:hover {
  color: pink;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header exclusive Selectors */
header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.top {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.top__light {
  background-color: white;
}

.top__dark {
  background-color: black;
  justify-content: space-around;
}

.top--logo {
  font-size: 2rem;
  flex-basis: 240px;
}

.top--search {
  flex-basis: 440px;
}

.top--search input {
  font-size: 1.1rem;
  width: 400px;
  outline: none;
  border: 2px solid gray;
  padding: 0.5rem;
  background-color: #f2f2f2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: justify;
  margin-right: -3px;
}

.top--search button {
  font-size: 1.1rem;
  padding: 0.5rem;
  outline: none;
  border: 2px solid gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -3px;
}

.top--login {
  flex-basis: 240px;
}

.top--login a {
  padding: 0 1rem;
  font-weight: bold;
}

.top--login a:last-child {
  padding: 0;
}

.top--login a:hover {
  text-decoration: underline;
}

.top--menu {
  text-transform: uppercase;
}

/* Main content exclusive Selectors */
.content--showcase {
  background-image: url('../images/test.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* Sidebar exclusive Selectors */
.sidebar {
  position: fixed;
  top: 66px;
  left: -300px;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  width: 300px;
  background-color: #333;
  overflow: auto;
  transition: left 250ms ease-in-out;
}

.sidebar__open {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  width: 300px;
  background-color: #333;
  transition: left 250ms ease;
}

.sidebar--title {
  display: flex;
  height: 68px;
  background-color: #222;
}

.sidebar--title p {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  color: white;
}

footer {
  height: 200px;
  background-color: black;
  text-align: right;
}

footer p {
  font-size: 1.25rem;
  color: white;
  text-align: center;
}

.test {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
}
